body,html{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 300;
  color:#212529;
  margin:0px;position: fixed;overflow: hidden;
}
.mainwrapper {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.container-fluid{
  text-align: center;
  /*Set height to 100% if content is less than screen size. otherwise, container-fluid will extend its height to accomadate the content size*/
}
.header{
  z-index:1000;
}
.header ul{
  position:fixed;
  background-color:rgb(52,58,64);
  height:50px;
  top:0px;
  list-style-type:none;
  margin:0px;
  padding:0px;
  width: 100%;
  z-index:100;
}
.header li {
  line-height:50px;
  width:130px;
  height:50px;
  display:inline-block;
  float:left;
  background-color:rgb(52,58,64);
  color:white;
  padding-left: 20px;
}
.header a{
  width: 130px;
  color:white;
}
.header li:hover{
  background-color:rgb(52,58,64);
}
.header a:hover{
  color:#212529;
}
button{
  border:none;
}
button:focus {outline:0;}
.footer{
  position: fixed;
  width:100%;
  height: 28px;
  bottom: 0px;
  margin-left:20px;
  z-index:9999;
  color:rgb(52,58,64);
}
.footer a{
  color: RGB(52,58,64);
  font-size: 20px;
  line-height: 25px;
  margin-left: 5px;
}
.footer span{
  display: inline;
  font-size: 12px;
  font-weight: 300;
  vertical-align: text-top;
}
.footer a:hover{
  color: RGB(26,29,32);
  cursor:pointer;
}