.container-fluid {
  font-family: 'Gaegu', cursive;
}

#buttons{
  position: absolute;
  left:50%;
  top:80px;
}
#clearit{
  position: absolute;
  top:50px;
  width:500px;
  margin-left:-250px;
  line-height: 50px;
  font-size:25px;
  transition:font-size 0.2s;
  -webkit-transition:font-size 0.2s;
  -moz-transition:font-size 0.2s;
  -ms-transition:font-size 0.2s;
  -o-transition:font-size 0.2s;
}
#clearit:hover{
  color:orange;
  cursor:pointer;
  font-size:50px;
  
}
#stats{
  margin-left:-50px;
}
#stats td, tr, th{
  font-size: 30px;
  font-weight: 200;
  width:250px;
  text-align: right;
}
#stats th{
  font-size:45px;
}

#stats td:nth-child(even){

  text-align: left;
  padding-left:10px;
}
#statsHead{
  width:500px;
  text-align: center;
  font-size:50px;
}
#statsHeadLine{
  width:500px;
}
#messagesHead {
  font-size:50px;
  width:300px;
}
#messages{
  width: 300px;
  font-size:40px;
  height:100px;
  position:absolute;
  text-align:center;
  right:50px;
  top:105px;
}
#cutbread {
  cursor:crosshair;
  z-index:-10;
  margin: auto;
}
#openingCover {
  z-index:10;
  background-color:RGBA(50,50,50,0.5);
  height:100%;
  top:0;
  width:100%;
  position:fixed;
  
}
#displayP{
  position: absolute;
  top:150px;
  width:500px;
  margin-left:-250px;
  line-height: 22px;
  font-size:25px;
  transition:font-size 0.2s;
  -webkit-transition:font-size 0.2s;
  -moz-transition:font-size 0.2s;
  -ms-transition:font-size 0.2s;
  -o-transition:font-size 0.2s;
}
#displayP:hover{
  color:orange;
  cursor:pointer;
  font-size:40px;
  
}
#openingCover h1{
  padding:100px;
  color:white;
  
}
#change_bread{
  cursor: pointer;
  font-size:30px;
  width:400px;
  margin: auto;
  margin-bottom: 40px;
  text-align: center;
    transition:font-size 0.2s;
  -webkit-transition:font-size 0.2s;
  -moz-transition:font-size 0.2s;
  -ms-transition:font-size 0.2s;
  -o-transition:font-size 0.2s;
}
#change_bread:hover{
  font-size:40px;
  color:orange;
}
.footer {
}